body {
    width: 100%;
    background-color: rgb(76, 88, 92);
}
#input {
    width: 4rem;
}
.card {
    background-color: rgb(93, 120, 155);
}
h2 {
    color: rgba(162, 191, 207, 0.835);
}
#homebutton {
    text-decoration: none;
}
#text {
    font-size: 17px;
}

img {
    border-radius: 10px;
}
h4,
p {
    color: white;
}
#bio {
    position: relative;
    top: 20px;
    font-size: 17px;
}
#intro {
    height: 13rem;
    background-color: grey;
    border-radius: 5px;
}
.body1 {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
}
.btn {
    text-align: center;
    color: blue;
    background-color: grey;
    padding: 5px;
}
#box {
    width: 65%;
    display: none;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
}
#enter {
    width: 3.5rem;
    font-size: 10px;
    height: 2rem;
}
#rentname {
    color: black;
}
#count {
    position: relative;
    left: 6rem;
}

#bio {
    width: 17rem;
}
#displayPic {
    width: 70%;
}
#viewPic {
    width: 100%;
    margin-left: 1rem;
}
#viewInfo p {
    color: black;
}

.col-sm-3 {
    position: relative;
    right: 19px;
}
.form-text {
    font-size: 10px;
    color: grey;
    position: relative;
    left: 3rem;
}
.drop1 {
    position: relative;
    right: 3.6rem;
}
.drop2 {
}
