body {
    width: 100%;
    background-color: rgb(76, 88, 92);
}
/* .m-5 {
    padding: 2rem 2rem 4rem 2rem;
    background-color: rgba(162, 191, 207, 0.568);
    border-radius: 7%;
}
h2 {
    color: rgba(162, 191, 207, 0.835);
}
#homebutton {
    text-decoration: none;
}
#text {
    font-size: 17px;
}
#buy {
    font-size: 23px;
    color: rgb(78, 78, 216);
    border-radius: 10px;
    background-color: white;
    padding: 3px;
}
img {
    border-radius: 15%;
}
h4,
p {
    color: white;
}
#bio {
    position: relative;
    top: 20px;
    font-size: 17px;
}
#intro {
    height: 13rem;
} */
